body {
    font-family: 'Inter', sans-serif;
    color: white;
    box-sizing: border-box;
    background: #fbf9f5;
}

.dj_background {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.dj_background h1 {
    text-align: center;
    font-size: 4.5rem;
    z-index: 1;
    color: white;
    padding: 250px;

}
.video-section{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
